<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alejandro del Río Santiago</title>
        <script src="/javascripts/vendor/modernizr.js"></script>

        <!-- CSS's -->
        <link rel="stylesheet" href="/stylesheets/foundation.css" />
        <link rel="stylesheet" href="/stylesheets/custom.css" />
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jscrollpane.custom.css" /> -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/bookblock.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/custombook.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.progresstracker.css">
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster.css" /> -->

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700,500' rel='stylesheet' type='text/css'/>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet"/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    </head>
    <body id='blog' class='sliding_one'>
        <div class="menu-panel">
            <div id='back_button'>
                <a href="https://www.adelriosantiago.com" target='_blank'><i class="fa fa-4x fa-home"></i></a>
                <h5 class='index_legend'>Alejandro del Río</h5>
            </div>
            <!-- <h4 class='index_legend'>Artículos</h4> -->
            <ul id="menu-toc" class="menu-toc">
                <!-- <li class="menu-toc-current"><a href="#item1">Self-destruction</a></li>
                <li><a href="#item2">Why we die</a></li>
                <li><a href="#item3">The honeymoon</a></li>
                <li><a href="#item4">A drawing joke</a></li>
                <li><a href="#item5">Commencing practice</a></li> -->
                <% data.forEach(function(article) { %>
                    <li><a href='#<%- article.slug %>' class='blog_button'><%- article.title %></a></li>
                <% }); %>
            </ul>
            <!-- <div>
                <a href="http://tympanus.net/Development/AudioPlayer/">&larr; Previous Demo: Responsive Audio Player</a>
                <a href="http://tympanus.net/codrops/?p=12795">Back to the Codrops Article</a>
            </div> -->
        </div>

        <div class='container-border'>
            <div id="container" class='container'>
                <div class="bb-custom-wrapper">
                    <div id="bb-bookblock" class="bb-bookblock">
                        <% for(var i = 0; i < data.length - 1; i++) { %>
                            <div id='<%- data[i].slug %>' class="bb-item">
                                <div class="content">
                                    <div class="scroller">
                                        <div class='blog_article markdown-body'>
                                            <%- data[i].content %>
                                            <div class='write_date'><%- data[i].month %>, <%- data[i].year %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }; %>
                    </div>
                    <nav>
                        <span id="bb-nav-prev">&larr;</span>
                        <span id="bb-nav-next">&rarr;</span>
                    </nav>
                    <!-- <i class="fa fa-2x fa-home"></i> -->
                    <span id="tblcontents" class="menu-button">Table of Contents</span>
                    
                </div>
            </div>
        </div>
       
        <!-- <div class="or-spacer">
            <div class="mask"></div>
        </div>

        <section id='footer' class='text-center'>
            <p id='copyright'>© 2015 Alejandro del Río</p>
        </section> -->
        
        <script src="/javascripts/vendor/jquery.js"></script>
        <script src="/javascripts/vendor/lodash.js"></script>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
        <script src="/javascripts/foundation.min.js"></script>
        <!-- <script src="/javascripts/jquery.mousewheel.js"></script>
        <script src="/javascripts/jquery.jscrollpane.min.js"></script> -->
        <script src="/javascripts/jquerypp.custom.js"></script>
        <script src="/javascripts/jquery.bookblock.js"></script>
        <!-- <script type="text/javascript" src="/javascripts/jquery.tooltipster.js"></script> -->
        <script src="/javascripts/page.js"></script>
        <script>
            $(function() {
               Page.init();
            });
        </script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>